<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About {{name}}</title>

	<!-- Bootstrap -->
	<link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/introHCI.css" rel="stylesheet">
	<link href="../css/info.css" rel="stylesheet">

  </head>
  
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button id="menuButton" type="button" class="navbar-toggle pull-left">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
      <div class="navbar-brand">{{name}}</div>
  </div>
</div>

  <body>
  	<div class = "container-fluid container">
        <div class = "row-fluid">
  				<div class= "col-xs-6">
  					<ul>
  						<li>{{cuisines}}</li>
  						<li>{{price}}</li>
  						<li>Rating: {{rating}}</li>
  					</ul>
  				</div>
  				<div class= "col-xs-6">
  					<ul>
  						<li>{{hours}}</li>
  						<li><span id="{{opennow}}">{{opennow}}</span></li>
              <li>{{distance}}</li>
              <li><li>
  					</ul>
  				</div>
  			</div>

      

    <div id="map-canvas"></div>

        <div class = "row-fluid">
          <div class="btn btn-default two-col" id ="add-remove">
              <span class="glyphicon glyphicon-plus-sign"></span> &nbsp;
              Wishlist
          </div>
          <a href="/pasteats-editcreate/{{id}}"><div class="btn btn-default two-col">
              Post &nbsp; &nbsp;<span class="glyphicon glyphicon-pencil"></span>
              
            </div></a>
        </div>
			<div class = "row-fluid">
					<a href="{{website}}"><div class="btn btn-default web-call">
		  				<span class="glyphicon glyphicon-link"></span>
		  				Website
		  			</div></a>
					<a href="tel:{{phone}}"><div class="btn btn-default web-call">
		  				<span class="glyphicon glyphicon-earphone"></span>
		  				Call
		  			</div></a>
			</div>

      <div class="row-fluid photos">
          <div class="photo"><a href="#" id="url1"><img id= "photo1"></a></div>          
          <div class="photo"><a href="#" id="url2"><img id= "photo2"></a></div>
      </div>
      
      <div class="row-fluid panel panel-default">
         <div class= "panel-body review">
            <span class = "header-text">Google Reviews</span>
            {{#each reviews}}
            <hr>
            <ul>
              <a href= "{{author_url}}"><li>{{author_name}}</li> </a>
              <li><b>Rating:</b> {{rating}}</li>
              <li> {{text}}</li>
            </ul>
            {{/each}}
          </div>
      </div>

  		</div>

  		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  		<script src="https://code.jquery.com/jquery.js"></script>
  		<!-- Include all compiled plugins (below), or include individual files as needed -->
  		<script src="../js/bootstrap.min.js"></script>
  		<script src="../js/info2.js"></script>
      <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
      <script type="text/javascript">
        $(document).ready(function() {
          $.get('/wishlist/find/', {gid: "{{id}}", gref: "{{ref}}"}, function(result, err) {
            if (err != "success") {console.log(err); return;}
            if (result.found) {
              $('#add-remove span').removeClass("glyphicon-plus-sign").addClass("glyphicon-remove");
              $('#add-remove').click(function(e) {
                e.preventDefault();
                $.get('/wishlist/remove/', {gid: "{{id}}", gref: "{{ref}}",},
                 function(result, err) {
                  if (err) console.log(err);
                  top.location.href = '/wishlist';
                });
              });
            } else {
              $('#add-remove').click(function(ev) {
                ev.preventDefault();
                $.ajax({
                  url: '/wishlist/add/', 
                  data: {
                    gid: "{{id}}",
                    gref: "{{ref}}"
                  }, 
                  complete: function(result, err) {
                    if (err) console.log(err);
                    top.location.href = '/wishlist';
                  }
                });
              });
            }
          });

          $('#closed').css("color", "#cc0052");
          $('#open').css("color", "green");

        
    var map;
    var infowindow;
      var pyrmont = new google.maps.LatLng(33.8665433, -115.1956316);

      map = new google.maps.Map(document.getElementById('map-canvas'), {
        center: pyrmont,
        zoom: 10
      });

      var request = {
        reference: "{{ref}}"
      };
      infowindow = new google.maps.InfoWindow();
      var service = new google.maps.places.PlacesService(map);
      service.getDetails(request, callback);

      function callback(place, status) {
        if (status == google.maps.places.PlacesServiceStatus.OK) {
          createPhotoMarker(place);
          createMarker(place);
        }
      }

      function createPhotoMarker(place) {
        var photos = place.photos;
        if (!photos) {
          return;
        }
        var url1 = photos[0].getUrl({'maxHeight': 500});
        var url2 = '';
        if(photos[1]) url2 = photos[1].getUrl({'maxHeight': 500});
        $('#photo1').attr("src", url1);
        $('#photo2').attr("src", url2);
        $('#url1').attr("href", url1);
        $('#url2').attr("href", url2);

      };

      function createMarker(place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(place.name + '<a href="https://www.google.com/maps/preview?saddr=My+Location&daddr={{address}}"><br>Directions</a>');
          infowindow.open(map, this);
        });

        map.setCenter(marker.getPosition());
        map.setZoom(13);
      }

  });
      </script>

  	</body>
  	</html>













