<!DOCTYPE HTML>
<html>
<head>
	{{title}}
	<meta charset="utf-8">
	<meta name="google-signin-clientid" content="101989331854-aqje8r3qpvudqru12luln8q88kdm7btd.apps.googleusercontent.com" />
	<meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login" />
	<meta name="google-signin-requestvisibleactions" content="http://schemas.google.com/AddActivity" />
	<meta name="google-signin-cookiepolicy" content="single_host_origin" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="/css/wishlist.css" rel="stylesheet">
	<link href="/css/menubar/component.css" rel="stylesheet"/>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="spreadsheet">
</head>

<script type="text/javascript">
	
</script>

<body>
	{{> menu-partial}}
	{{> menupanel-partial}}
	<div class="container">
		{{#each wishlist}}
		<div class="wishlist-entry" id="swipe{{id}}">
			
			<div class="swipe-options">
				<div class="option"> 
					<span class="glyphicon glyphicon-remove"></span></div>
					<div class="option">
						<a href="/pasteats-editcreate/2"><span class="glyphicon glyphicon-pencil"></span></a>
					</div>
				</div>
			<a  href="/info/{{g_places_id}}">
				<div class="photo"> 
					<img src="http://lorempixel.com/400/400/food/{{id}}">
				</div>
				<div title=" This is an entry in your wishlist" rel="tooltip" class= "left-info">
					<ul >		
						<li>{{name}}</li>
						<li>{{cuisines}}</li>
						<li><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></li>
						<li>{{rating}}</li>
					</ul>
				</div>
				<div title="These are details about restaraunts" rel="tooltip" class= "right-info">
					<ul>
						<li>{{distance}}</li>
						<li>{{hours}}</li>
						<li>{{price}}</li>
						</ul>
					</div>

				</a>


			</div>
			{{/each}}
		</div>

		<!-- Req for menubar-->
		<script src="/js/menubar/modernizr.custom.js"></script>
		<!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
		<script src="/js/menubar/classie.js"></script>
		<script type ="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="js/hammer.js"></script>
		<script src="js/jquery.hammer.js"></script>
		<script src="/js/wishlist2.js"></script>
	</body>
	</html>
