<!DOCTYPE HTML>
<html>
<head>
	{{>title}}
	<meta charset="utf-8">
	<meta name="google-signin-clientid" content="101989331854-aqje8r3qpvudqru12luln8q88kdm7btd.apps.googleusercontent.com" />
	<meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login" />
	<meta name="google-signin-requestvisibleactions" content="http://schemas.google.com/AddActivity" />
	<meta name="google-signin-cookiepolicy" content="single_host_origin" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href="/css/wishlist.css" rel="stylesheet">
	<link href="/css/menubar/component.css" rel="stylesheet"/>
	<script src="https://code.jquery.com/jquery.js"></script>
	<link href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="spreadsheet">

	<!-- Req for menubar-->
		<script src="/js/menubar/modernizr.custom.js"></script>
		<!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
		<script src="/js/menubar/classie.js"></script>
		<script type ="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/hammer.js"></script>
		<script src="/js/jquery.hammer.js"></script>
		<script src="/js/wishlist2.js"></script>

</head>

<script type="text/javascript">
	
</script>

<body>
	{{> menupanel-partial}}

	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
        <button id="menuButton" type="button" class="navbar-toggle pull-left" >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">Wishlist</span>


					<a href="/search" id="add"><span class="glyphicon glyphicon-plus"></span></a>
      </div>
    </div>
    <div id="underlay"></div>

	<div class="container">
		{{#each wishlist}}
		<div class= "frame">
		<div class="wishlist-entry" id="swipe{{id}}" gref = "{{g_places_ref}}" gid = "{{g_places_id}}">
			
			<div class="swipe-options">
				<div class="option"> 
					<span class="glyphicon glyphicon-remove"></span></div>
					<div class="option">
						<a href="/pasteats-editcreate/{{g_places_id}}"><span class="glyphicon glyphicon-pencil"></span></a>
					</div>
				</div>

			<a  class = "place" gref = "{{g_places_ref}}" id = "{{g_places_id}}"  href="/info/{{g_places_ref}}">
						 <!-- details of each wishlist tile go here -->
				</a>


			</div>
			</div>
			{{/each}}

					<div class="hint">
						 	<ul>
						 		<li>Tap <span class="glyphicon glyphicon-plus"></span> to add to your wishlist!</li>
						 		<li>Swipe tiles to the right </li>
						 		<li>for options</li>
						 	</ul>
						 </div>


			</div>

		</div>

	<script type="text/javascript">
	$(function(){
		$('.place').each(function(index){
			var placeRef = $(this).attr('gref');
			$.get('/places/details/' + placeRef, callback);
			function callback(result, err){
				var theBody = JSON.parse(result);
				$('#' + theBody.result.id).html( $('#' + theBody.result.id).html() + createResultDiv(theBody.result) );
			}
		});
	});

	$('.glyphicon-remove').each(function(i,e) {
        $(e).click(function(ev) {
          ev.preventDefault();
          $.get('/wishlist/remove/', {
            gid: $(this).parent().parent().parent().attr('gid'),
            gref: $(this).parent().parent().parent().attr('gref')
          }, function(result, err) {if (err) console.log(err);});
        })
      });

	function createResultDiv(place) {
      var price = place.price_level ? Array(place.price_level+1).join('$') : "";
      var hours = place.opening_hours ? place.opening_hours : "";
      var opennow = hours.open_now;
      var displayopen = "";
      var ratingWord = "Rating: "
      if (opennow != undefined) {
        displayopen = opennow ? "<span style='color: green'>open</span>" : "<span style='color: #cc0052'>closed</span>";
      }
      return '    <div class="photo"> '+
      '      <img src="'+place.icon+'">'+
      '    </div>'+
      '    <div title=" This is an entry in your wishlist" rel="tooltip" class= "left-info">'+
      '      <ul >   '+
      '        <li>'+place.name +'</li>'+
      '        <li>'+(place.types? place.types.toString(): "")+'</li>'+
      '        <li>'+(place.rating? ratingWord + place.rating : "")+'</li>'+
      '      </ul>'+
      '    </div>'+
      '    <div title="These are details about restaraunts" rel="tooltip" class= "right-info">'+
      '      <ul>'+
      '        <li>'+displayopen+'</li>'+
      '        <li>'+price+'</li>'+
      '      </ul>'+
      '    </div>';
	}
	</script>

	</body>
	</html>
